In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
credit_data = pd.read_csv('creditcard.csv')
credit_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
credit_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
credit_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [12]:
legit = credit_data[credit_data['Class'] == 0]
fraud = credit_data[credit_data['Class'] == 1]

In [13]:
print(legit.shape,fraud.shape)

(284315, 31) (492, 31)

In [15]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [16]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [18]:
credit_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [19]:
legit_sample = legit.sample(n=492)

In [20]:
new_df= pd.concat([legit_sample,fraud],axis= 0)

In [21]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
5232,5040.0,1.298817,0.273648,0.248153,1.191129,0.252994,0.293258,-0.145295,-0.083588,1.842007,...,-0.496828,-0.986682,-0.134225,-1.080419,0.690094,-0.478621,0.011017,0.006832,6.61,0
100095,67413.0,-0.659657,0.970890,1.233874,-0.784881,-0.434185,-0.812274,0.257740,0.331139,-0.685849,...,0.059493,0.074594,0.021999,0.494538,-0.367533,1.276659,-0.162588,-0.020644,8.00,0
37321,38905.0,1.181938,0.033552,0.184751,0.569648,-0.253776,-0.365607,-0.006966,0.063488,0.041785,...,0.012114,0.146593,-0.052785,0.258728,0.500555,0.558071,-0.045749,-0.013164,0.00,0
267777,162926.0,0.051460,0.452412,1.904973,1.287289,-0.667331,0.319326,-0.328819,0.151311,0.154859,...,0.130735,0.617479,0.039774,-0.030201,-1.056561,0.579046,0.249669,0.206833,20.16,0
93901,64638.0,1.111929,-0.478078,0.696969,0.526637,-0.589380,0.691656,-0.732112,0.325650,0.864367,...,-0.092006,-0.267301,-0.165100,-0.808063,0.332880,0.368037,-0.004232,0.013375,64.99,0

In [22]:
new_df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [23]:
new_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [25]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,99679.993902,0.066114,0.075749,0.061233,0.071723,0.113102,-0.105082,0.128489,0.057643,-0.042262,...,-0.071546,0.001976,0.032287,-0.013699,-0.002522,-0.013851,0.028642,-0.003010,-0.004760,70.625610
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [26]:
x=new_df.drop(columns='Class',axis =1)
y = new_df['Class']

In [27]:
print(x)

            Time        V1        V2        V3        V4        V5        V6  \
5232      5040.0  1.298817  0.273648  0.248153  1.191129  0.252994  0.293258
100095   67413.0 -0.659657  0.970890  1.233874 -0.784881 -0.434185 -0.812274
37321    38905.0  1.181938  0.033552  0.184751  0.569648 -0.253776 -0.365607
267777  162926.0  0.051460  0.452412  1.904973  1.287289 -0.667331  0.319326
93901    64638.0  1.111929 -0.478078  0.696969  0.526637 -0.589380  0.691656
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
5232   -0.145295 -0.083588  1.842007  ... -0.143852 -0.496828 -0.986682
100095  0.257740  0.331139 -0.685849  ... -0.081362  0.059493  0.074594
37321  -0.006966  0.063488  0.041785  ... -0.222801  0.012114  0.146593
267777 -0.328819  0.151311  0.154859  ...  0.300199  0.130735  0.617479
93901  -0.732112  0.325650  0.864367  ...  0.011910 -0.092006 -0.267301
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
5232   -0.134225 -1.080419  0.690094 -0.478621  0.011017  0.006832    6.61
100095  0.021999  0.494538 -0.367533  1.276659 -0.162588 -0.020644    8.00
37321  -0.052785  0.258728  0.500555  0.558071 -0.045749 -0.013164    0.00
267777  0.039774 -0.030201 -1.056561  0.579046  0.249669  0.206833   20.16
93901  -0.165100 -0.808063  0.332880  0.368037 -0.004232  0.013375   64.99
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [28]:
print(y)

5232      0
100095    0
37321     0
267777    0
93901     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [29]:
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size= 0.2,random_state=2,stratify= y)

In [30]:
print(X_test.shape , X_train .shape , Y_test.shape , Y_train.shape)

(197, 30) (787, 30) (197,) (787,)

In [31]:
model = LogisticRegression()

In [32]:
model.fit(X_train,Y_train)

LogisticRegression()

In [33]:
X_train_Predition = model.predict(X_train)
Trainig_Accuracy = accuracy_score(X_train_Predition,Y_train)
print('Accuracy Score on Training :',Trainig_Accuracy)

Accuracy Score on Training : 0.9542566709021602

In [34]:
X_test_Predition = model.predict(X_test)
Testing_Accuracy = accuracy_score(X_test_Predition,Y_test)
print('Accuracy Score on testing :',Testing_Accuracy)

Accuracy Score on testing : 0.9137055837563451

In [36]:
input_data=(146022,0.908636658181293,2.84902401493181,-5.64734296336341,6.00941477810058,0.216656395035464,-2.39701442397293,-1.81930788593969,0.338526987742346,-2.81988277297887,-4.06309810827338,2.94119009271712,-6.15136219091534,-1.98952853525001,-9.15095100562097,-0.604289998808266,-1.95229039984463,-2.89255533222526,-0.912057960709434,-1.56373996709776,0.241921294746754,0.407260461266497,-0.397434852530952,-0.0800058534116311,-0.168596545191964,0.465058497798457,0.210509756241616,0.648704799002062,0.360224330288316,1.18)
input_data_numpy_array= np.asarray(input_data)
input_data_Reshape = input_data_numpy_array.reshape(1,-1)
predition = model.predict(input_data_Reshape)

if (predition[0] == 0):
    print('This transaction is not fraud')
else:
    print('This Transaction is fraud')

This Transaction is fraud

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(